//  AREAS-SERVED STYLES
@import "../modules/_colors";

//  MAP STYLES
.api {
  text-align: center;
  padding: 50px 12px 50px 12px;
}

.api__map {
  width: 100%;
  max-width: 640px;
}

@media(min-width: 600px) {

  .api {
    padding-top: 0;
  }

}
