//  HOLISTIC TREATMENTS STYLES
@import "../modules/_colors";


//  HOLISTIC TREATMENTS STYLES
.holistic-wrapper {
  margin: 50px 0;
}

.holistic-item__image {
  color: $blue;
  padding: 114px 0;
  text-align: center;
  max-width: 460px;
  margin: 0 auto;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.holistic-item__image--reflex {
  background-image: url("../images/reflex-min.jpg");
}

.holistic-item__image--bns-mass {
  background-image: url("../images/massage-min.jpg");
}

.holistic-item__image--swed-mass {
  background-image: url("../images/full-body-min.jpg");
}

.holistic-item__black-box {
  height: 35px;
  background-color: black;
  opacity: 0.6;
  display: inline-block;
  border-radius: 5px;
}

.holistic-item__black-box--1 {
  width: 150px;
}

.holistic-item__black-box--2 {
  width: 330px;
}

.holistic-item__black-box--3 {
  width: 290px;
}

.holistic-item__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 119px;
  bottom: 0;
  font-size: 1.2em;
}

.holistic-item__text {
  color: $green;
  text-align: justify;
  max-width: 700px;
  margin: 30px 12px 50px 12px;
}


@media(min-width: 600px) {

  .holistic-wrapper {
    margin: 50px;
  }

  .holistic-item__text {
    margin: 40px auto 80px auto;
  }

}


@media(min-width: 1200px) {

  .holistic-wrapper {
    text-align: center;
  }

  .holistic-item {
    display: inline-block;
    margin-right: 50px;
  }

  .holistic-item--right {
    margin: 50px 0 50px 50px;
  }

  .holistic-item__image {
    width: 460px;
    float: left;
  }

  .holistic-item__image--right {
    float: right;
  }

  .holistic-item__text {
    margin: 0;
    padding: 0 50px;
    border: 1px solid $border;
    border-left: none;
    max-width: 470px;
    background-color: $cream;
    height: 265px;
    float: left;
    display: flex;
    align-items: center;
  }

  .holistic-item__text--right {
    border-left: 1px solid $border;
    border-right: none;
    float: right;
  }

}


@media(min-width: 1500px) {

  .holistic-wrapper {
    margin: 100px;
  }

  .holistic-item {
    margin-right: 90px;
  }

  .holistic-item--right {
    margin: 80px 0 80px 90px;
  }

  .holistic-item__text {
    max-width: 600px;
  }

}
